@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Lato&family=Sevillana&family=Moon+Dance&family=McLaren&family=Montserrat&family=Oswald:wght@300&display=swap');

.rev-tot{
    min-width: 100vw;
    display: flex;
    justify-content: center;
}
.rev-total{
    min-height: 60vh;
    height:auto;
    max-width: 50vw;
    overflow-y:hidden ;
    display: flex;
    align-items: center;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px #5b1414;
}
.rev-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.rev-rev{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
}
.rev-author{
    font-family: Oswald;
    font-size: 20px;
}
.rev-item{
    /* background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png"); */
background-color: #d1cdcd;
background-image: url("https://www.transparenttextures.com/patterns/buried.png");
color: rgb(41, 40, 40);
}
.rev-overall{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}