
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Lato&family=Sevillana&family=Moon+Dance&family=McLaren&family=Montserrat&family=Oswald:wght@300&display=swap');
@import "rsuite/dist/rsuite.css";
.form-container1{
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 82vh;
    overflow-wrap:inherit;
    background-color: white;
    /* background-color: rgba(255, 4, 4, 0.456);   */
    backdrop-filter: blur(10px);
    /* opacity:0.5; */
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.8);
    border-radius: 50px;
    text-shadow: 0.6px 0.6px #721b1b ;
    /* padding-left: 3vw;
    padding-right: 3vw; */
    padding-bottom: 5vh;
    
}
.form-stack{
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* margin-top: -30vh; */
}
.form-total{
    display: flex;
    height: 8vh;
}
.form-left{
    display: flex;
    align-items: center;
    height: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width:20vw;
}
.form-right{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width:19vw;
    padding-right: 3vw;
    padding-left: 3vw;
}
.form-subm{
    color: black;
}
.form-submi{
    width:80vw;
    display: flex;
    justify-content: center;
}
.space{
    font-size: small;
    font-family: Poppins;
    color: black;
}
.spaceb{
    padding-bottom: 2vh;
}
.form-Nam{
    padding-top: 8vh;
}
.form-bot{
    width:84.74vh;
    display: flex;
    justify-content: center;
    z-index: -1;
}
.errorr{
    color: rgb(2, 2, 2);
    font-size: 2vh;
    padding:1vh;
    text-shadow: none;
}
.spaced{
    height:0.8vh;
}
.spacebb{
    min-height:1vh;
}
.spacebbb{
    margin-top: -0.8vh;
}
.spacebbbb{
    margin-top: -0.6vh;
}

@media (max-width: 800px) {
    .form-bot,
    .form-container1{
        width:90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: -30vh;
    }
    .form-left,
    .form-right{
        width:38vw !important;
    }
    .form-timer{
        width:38vw;
        height:8vh;
    }
    .bordel{
        width:32vw;
    }
}
@media (max-height: 500px){
    .form-container1{
        width:80vw !important;
        height:200vh !important;
    }
    .space{
        font-size: 1vw !important;
    }
    .form-stack{
        height:200vh !important;
    }
    .form-total{
        height:10vh !important;
    }
    .form-left{
        width:40vw !important;
        height: 20vh !important;
    }
    .form-right{
        width:42vw !important;
        height: 20vh !important;
    }
    .space{
        font-size: large !important;
    }
    .rs-picker-default .rs-picker-toggle.rs-btn {
        height: 12vh !important;
        width: 50vw !important;
    }
    /* .rs-picker-toggle-value{
        font-size: 10vw !important;
    } */
}

.class1{
    left:50%;
    background-color: aliceblue;
}
.date-1{
    width:30vw !important;
    color: green;
    display: flex;
}
.space-date{
    max-height: 3vh !important;
}



.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 16.5vw !important;
    height: 5vh;
}

/* picked date align */
.rs-picker-default .rs-picker-toggle {
    position: relative;
    z-index: 5;
    padding-right: 67px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #575757;
    border: 1px solid #e5e5ea;
    padding-left: 44px;
}
/* calander align */
.rs-picker-toggle-caret {
    z-index: 4000 !important;
    display: inline-block;
    margin-right: 240px;
    position: absolute;
    top: 800px !important;
    right: 12px;
    font-weight: normal;
    color: #8e8e93;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok { 
    text-align: center; 
    cursor: pointer;
    outline: 0 ; 
    border: none; 
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 30px;
    color: #fff;
    background-color: #3498ff;
    width: 100px;
}
.rs-calendar{
    z-index: 9000 !important;
    text-decoration: none;
}
.rs-picker-daterange-calendar-single{
    z-index: 9000 !important;
}
.rs-calendar-body{
    z-index:5000 !important;
    text-decoration: none;
}
.rs-picker-toggle-textbox{
    text-decoration: none !important;
    font-size: 1vw !important;
    display: flex !important;
    justify-content: start !important;
}
.rs-picker-toggle-value{
    text-decoration: none !important;
    font-size: 1.3vh !important;
    color: black !important;
    text-align: start !important;
    display: flex;
    justify-content: start;
}
/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    z-index: 9000 !important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 21px;
    display: inline-block;
    text-decoration: none;
}
.rs-stack{
    z-index: 9000 !important;
}
.date-avail{
    display: flex;
    flex-direction: column;
}
.bordel{
    display:flex;
    justify-content:center;
  align-items:center;
}
.borde
{
    height: 10vh;
    width:auto;
    border: 2px solid green;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 15px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.form-flex{
    display:flex;
    justify-content:center;
}
